body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #373737;
    font-style: normal;
    font-weight: 700;
    
}

a{
    text-decoration: none;
    color: unset;
}

.menu{
    margin: 32px 0px; 
}
.menu_item{
    color: #FF0000;
    padding-left: 72px;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.main_img{
    margin-left: 0px;
}

.main_title{
    font-size: 22px;
    margin: 48px 0 10px;
    letter-spacing: 3.3px;
}

.main_text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-top: 28px;
    letter-spacing: 2.4px;
    line-height: 26px;
}


.main_button{
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    align-items: center;
    margin: 66px 0 42px;
    box-sizing: border-box;
    display: inline-block;
}

.main_button_text{
    color: #fff;
    font-size: 12px;
    letter-spacing: 1.8px;
    margin: 18px 0px;
    
}

.footer_text{
    padding: 40px 105px 0px;
    text-align: right;
    font-size: 16px;
    letter-spacing: 2.4px;
}